name: CI-MLflow

on:
  push:
    branches: ["main"]
    
permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 pandas scikit-learn joblib

    - name: Run MLflow Project
      run: |
        mlflow run MLProject --env-manager=local
        
    - name: Get latest MLflow run_id
      run: |
        RUN_ID=$(ls -td mlruns/0/* | head -n 1 | xargs basename)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        echo "Latest run_id: $RUN_ID"

    - name: Upload model artifact to GitHub
      run: |
        mkdir -p artifacts
        cp -r mlruns/0/${{ env.RUN_ID }}/artifacts artifacts/

    - name: Commit model artifact
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add artifacts/
        git commit -m "Add trained ML model artifact [CI]" || echo "No changes"
        git push

    - name: Build Docker Model
      run: |
        mlflow models build-docker \
          --model-uri "runs:/${{ env.RUN_ID }}/model" \
          --name diabetes-model

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Tag Docker Image
      run: |
        docker tag diabetes-model \
        ${{ secrets.DOCKERHUB_USERNAME }}/diabetes-model:latest

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/diabetes-model:latest
